h2 {
    text-align: center;
}

.redirect {
    background-color: white;
    color: black;
    border: none;
}

.redirect:hover {
    text-decoration: underline;
}

.search{
    background-color: #f8f9fa;
    color: black;
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
}

.search:hover{
    filter:drop-shadow(0.5px 1px #D3D3D3) drop-shadow(0.5px -0.5px #D3D3D3)
    drop-shadow(-0.5px 1px #D3D3D3) drop-shadow(-0.5px -0.5px #D3D3D3);
}

.basic {
    width: 500px !important;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    border-radius: 20px;
    background-color: #ecedef;
    border: none;
}

.basic:hover{
    background-color: #dadce0;
    border: none;
}

.basic:focus{
    outline: none;
}

#header1{
    color: #d93025;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 30px;
}

#header2{
    font-size: 15px;
}

#header3{
    font-size: 12px;
    font-weight: bold;
}

#advanced{
    background-color: #4c8ffb;
    color: white;
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    float: right;
    margin-right: 15px;
}

#advanced:hover{
    background-color:#377cea;
    color: white;
    border:#2c5cb4;
}

.container{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.column1 {
    padding-left: 30px;
    width: 12%;
    font-size: 12px;
}

.column2 {
    width: 58%;
    font-size: 10px;
    padding-left: 15px;
}

[type=text]{
    width:97%;
}

.column3{
    width: 30%;
    color: #666666;
    font-size: 10px;
}